<h1>Create New Timesheet</h1>
<div style="width: 70vw">
  <mat-card>
    <form [formGroup]="timecardForm">
      <div class="row">
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input formControlName="code" matInput placeholder="Enter Code" />
            <div
              *ngIf="f.code.touched && f.code.errors?.required"
              class="alert alert-danger"
            >
              Code is required
            </div>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label>Contractor</mat-label>
            <input
              formControlName="contractor"
              matInput
              placeholder="Enter Contractor Name"
            />
            <div
              *ngIf="f.contractor.touched && f.contractor.invalid"
              class="alert alert-danger"
            >
              <div *ngIf="f.contractor.errors?.minlength">
                Contractor name must be at least 4 characters long
              </div>
              <div *ngIf="f.contractor.errors?.required">
                Contractor name is required
              </div>
            </div>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker" />
            <div
              *ngIf="f.date.touched && f.date.errors?.required"
              class="alert alert-danger"
            >
              Date is required
            </div>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="jobs.length > 0" class="mt-3">
        <h2 class="mb-3 mystyle">Job Entries</h2>
        <div
          formArrayName="job_entries"
          *ngFor="
            let jobRow of timecardForm.controls.job_entries['controls'];
            let i = index
          "
        >
          <div [formGroupName]="i" class="row">
            <div class="col-4">
              <mat-form-field appearance="fill">
                <mat-label>Job</mat-label>
                <mat-select formControlName="job">
                  <mat-option *ngFor="let j of jobs" [value]="j.id">
                    {{ j.code }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field appearance="outline">
                <mat-label>Hours Worked</mat-label>
                <input
                  type="number"
                  formControlName="hrs"
                  matInput
                  placeholder="Enter Hours Worked"
                />
              </mat-form-field>
            </div>
            <div class="col-4">
              <button
                *ngIf="timecardForm.controls.job_entries.controls.length > 1"
                (click)="deleteJobRow(i)"
                mat-raised-button
                color="primary"
              >
                Delete Row
              </button>
            </div>
            <hr />
          </div>
        </div>
        <button (click)="addJobRow()" mat-raised-button color="primary">
          Add Row
        </button>
      </div>
      <div *ngIf="machines.length > 0" class="mt-4">
        <h2 class="mb-3 mystyle">Machine Entries</h2>
        <div
          formArrayName="machine_entries"
          *ngFor="
            let machineRow of timecardForm.controls.machine_entries['controls'];
            let i = index
          "
        >
          <div [formGroupName]="i" class="row">
            <div class="col-4">
              <mat-form-field appearance="fill">
                <mat-label>Machine</mat-label>
                <mat-select formControlName="machine">
                  <mat-option *ngFor="let m of machines" [value]="m.id">
                    {{ m.code }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field appearance="outline">
                <mat-label>Hours Used</mat-label>
                <input
                  type="number"
                  formControlName="hrs"
                  matInput
                  placeholder="Enter Hours Used"
                />
              </mat-form-field>
            </div>
            <div class="col-4">
              <button
                *ngIf="
                  timecardForm.controls.machine_entries.controls.length > 1
                "
                (click)="deleteMachineRow(i)"
                mat-raised-button
                color="primary"
              >
                Delete Row
              </button>
            </div>
            <hr />
          </div>
        </div>
        <button (click)="addMachineRow()" mat-raised-button color="primary">
          Add Row
        </button>
      </div>
    </form>
  </mat-card>
  <div class="d-flex justify-content-around mt-2">
    <button (click)="onGoBack()" mat-raised-button color="primary">
      Go Back
    </button>
    <button (click)="onSubmit()" mat-raised-button color="primary">
      Add Timecard
    </button>
  </div>
</div>
