<div class="d-flex flex-column justify-content-center">
  <h1>Timesheet {{isAdmin? 'Approval': 'Submission'}}</h1>
  <div *ngIf="!isAdmin" class="d-flex flex-row-reverse">
    <button mat-raised-button color="primary">
      Add
    </button>
  </div>
  <table
    *ngIf="timecards.length > 0"
    class="table table-striped table-bordered table-hover"
    style="width: 70vw"
  >
    <thead class="thead-dark">
      <tr>
        <th>Site Code</th>
        <th>Contactor Name</th>
        <th>Total Hrs</th>
        <th>Total Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of timecards">
        <td>{{ t.code }}</td>
        <td>{{ t.contractor }}</td>
        <td>{{ t.total_hrs }}hrs</td>
        <td>${{ t.total_amount }}</td>
        <td *ngIf="!isAdmin">{{t.status == 'pending' ? 'open' : t.status }}</td>
        <td *ngIf="isAdmin">{{t.status == 'pending' ? 'Review' : t.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
